.btnmonter {
    background-color: rgb(146, 243, 195);
    opacity : 1;
}

.btndescendre {
    background-color: rgb(255, 187, 163);
    opacity : 1;
}

div {
    display: flex;
    background-color: rgb(255, 255, 186);
    background: solid;
    border-style: solid;
    border-color: black;
    border: 2px;
    opacity: 1;
}
