<form [formGroup]="menuForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="produit">Produit</label><br>
        <input type="text" id="produit" formControlName="produit">
    </div>

    <div>
        <label for="quantity">Quantité</label><br>
        <input type="text" id="quantity" formControlName="quantity">
    </div>

    <button type="submit">Ajouter</button>

</form>

<p>Panier</p>

<div *ngFor="let ligne of panier, let i=index;" >
    <p><span>Produit : {{ligne.produit}} </span> <span>Qté : {{ligne.quantity}}</span> <button (click) = "onDelete(i)">Supprimer</button></p>
</div>
