<h2>Les exos</h2>

<div class="navclass">
    <a routerLink="./binding">binding  </a>
    <a routerLink="./chrono">chrono  </a>
    <a routerLink="./produits">produits  </a>
    <a routerLink="./parent">parent  </a>
    <a routerLink="./forms">formulaire  </a>
    <a routerLink="./taches">tâches  </a>
    <a routerLink="./menu">menu  </a>
    <a routerLink="./panier">panier  </a>
    <a routerLink="./objectif">objectif  </a>
    <a routerLink="./colorswap">colorswap  </a>
    <a routerLink="./plat">plats  </a>
</div>

<router-outlet></router-outlet>
